@import 'fonts';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Jost, serif;
}

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 24px;
  background-color: #f5f5f5;
  border-right: 3px solid #000;
  border-bottom: 10px solid #000;

  &::placeholder {
    font-size: 24px;
    color: #93928c;
  }
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header {
  z-index: 1;
  position: relative;
  height: 100vh;
  margin-bottom: 320px;
  background-image: url(../images/Борода1.png);
  background-size: cover;
  background-position: center 0;
}

.header__description {
  position: absolute;
  left: 50%;
  bottom: -450px;
  padding: 50px 120px;
  padding-bottom: 10px;
  width: 1020px;
  background-color: #fff;
  border: 5px solid black;
  text-align: center;
  font-size: 24px;
  transform: translateX(-50%);

  p {
    max-width: 740px;
    margin-bottom: 40px;
  }
}

.header__icon {
  margin-bottom: 45px;
}

.brand {
  font-weight: bold;
}

.promotions {
  box-sizing: content-box;
  position: relative;
  min-height: 1000px;
  padding-bottom: 100px;
  background-image: url(../images/Триммер.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
}

.promotion-description__wrapper {
  position: absolute;
  top: 200px;
  left: 50%;
  width: max-content;
  background-color: #fff;
  transform: translateX(-4%);
}

.promotion-description {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 532px;
  border: 5px solid black;
  background-color: #fff;
}

.promotion-description__info {
  padding: 13px 50px;
}

.promotion-description__circle {
  z-index: 1;
  position: absolute;
  top: -115px;
  right: -115px;
  width: 230px;
  min-height: 230px;
  border-radius: 50%;
  background-color: #000;
}

.promotion-description__bonus-amount {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 5px;
  font-size: 36px;
  color: #fff;
}

.promotion-description__old-price {
  position: relative;
  font-family: Jost, serif;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  color: #a2a2a2;
}

.promotion-description__line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 185px;
  height: 6px;
  background-image: url(../images/line.png);
  transform: translate(-50%, -50%);
}

.promotion-description__new-price {
  font-family: Jost, serif;
  font-weight: 600;
  font-size: 90px;
  text-align: center;
  color: #b4976d;
}

.halfStyle {
  position: relative;
  display: inline-block;
  margin-left: -25px;
  font-size: 90px; /* or any font size will work */
  color: transparent; /* hide the base character */
  overflow: hidden;
  white-space: pre; /* to preserve the spaces from collapsing */

  &:first-child {
    margin-left: 0px;
  }

  &:nth-child(3) {
    margin-left: -40px;
  }
}

.halfStyle:before {
  /* creates the top part */
  display: block;
  z-index: 2;
  position: absolute;
  top: 0;
  height: 50%;
  content: attr(data-content); /* dynamic content for the pseudo element */
  overflow: hidden;
  pointer-events: none; /* so the base char is selectable by mouse */
  color: #dab98b; /* for demo purposes */
}

.halfStyle:after {
  /* creates the bottom part */
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  content: attr(data-content); /* dynamic content for the pseudo element */
  overflow: hidden;
  pointer-events: none; /* so the base char is selectable by mouse */
  color: #b4976d; /* for demo purposes */
}

.currency {
  margin-top: -70px;
  margin-bottom: 0px;
  font-size: 36px;
  color: #000;
}

.promotion-description__duration {
  font-weight: 600;
  text-align: center;
}

.order__title {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 48px;
  text-align: center;
}

.promotion-description__text {
  font-size: 24px;
  text-align: center;
}

.promotion-description__bg {
  margin-top: auto;
  height: 200px;
  background-image: url(../images/USD_проектор_в_машине.png);
  background-size: cover;
  background-position: center;
}

.btn-order {
  position: absolute;
  left: 50%;
  bottom: -40px;
  padding: 10px 15px;
  border: 5px solid black;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
  transform: translateX(-50%);

  img {
    vertical-align: top;
    margin-right: 10px;
  }
}

.gadget {
  position: absolute;
  bottom: -100px;
  right: -60px;
}

.slider-view {
  padding: 70px 0;

  img {
    width: 300px;
  }
}

.slider-view__container {
  padding: 0 125px;
}

.slider-specifications {
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url(../images/Борода2.png);
  background-size: cover;
  background-position: 50% 0;
}

.slider-specifications__title {
  margin-bottom: 120px;
  text-transform: uppercase;
  font-size: 48px;
  text-align: center;
  color: #fff;
}

.slider-specifications__container {
  padding: 0 20px;
}

.slider-specifications__card {
  padding: 0 5px;
  background-color: #101010;
  color: #fff;

  img {
    margin-bottom: 20px;
  }
}

.card__title {
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 15px;
}

.slider-specification__desc {
  min-height: 180px;
  margin-left: 15px;
  margin-top: 0;
}

.order {
  padding: 120px 0;
  background-color: #f3f3f3;
}

.order__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order-promotion-description__wrapper {
  position: relative;
}

.promo {
  z-index: 1;
  position: absolute;
  padding: 15px 20px;
  border: 3px solid #000;
  border-bottom: 10px solid #000;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 600;
  background-color: #dab98b;
  transform: translate(-40%, -50%);
}

.order__form {
  position: relative;
  width: 532px;
  padding: 45px;
  border: 5px solid #000;
  background-color: #fff;
}

.order__detail {
  font-size: 24px;
  font-weight: 300;
  color: #646464;
}

.order__datail_gold {
  color: #b88f52;
}

.btn_inverse {
  bottom: 30px;
  left: 50%;
  margin: 0 auto;
  color: #fff;
  background-color: #000;
  transform: translateX(-50%);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 16px;
  color: #b2b2b2;
  background-color: #000;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1280px;
  margin: 0 auto;
  padding: 0 155px;
}

.contacts__title {
  color: #626262;
}

@import 'media';
